{% extends 'base.html.twig' %}
{% block head %}
{% block title %} SymfOBS Students {% endblock %}
{% block javascripts %}
<script>
    var $ = jQuery.noConflict();
    $(document).ready(function(){
    $(".btn.btn-danger.delete-course").click(function(){
        var id = $(this).attr('data-id');
        fetch(`/classes/delete/${id}`,
        {method: `DELETE`}).then(res => window.location.reload());
    });


    
    $("#myInput").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#mytable tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
  });

</script>
{% endblock %}
{% endblock %}
            
{% block body %}
{% if classes %}
<input id="myInput" type="text" placeholder="Search..">
    <table id="classes" class="table table-stiped">
        <thead>
            <tr>
                <th>Class Name</th>
                <th>Actions</th>
                <th><a href="/classes/new" class="btn btn-success">Add</a></th>
                    
            </tr>
        </thead>
        <tbody id="mytable">
            {% for classes in classes %}
                <tr>
                    <td>{{classes.name}}</td>
                    <td><a href="/classes/{{classes.id}}" class="btn btn-dark">Show</a>
                    <a href="#" class="btn btn-danger delete-course" data-id="{{ classes.id }}">Delete</a>
                    <a href="/classes/edit/{{classes.id}}" class="btn btn-light edit-course" data-id="{{ classes.id }}">Edit</a></td>
                    
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>No Classes</p>
    <a href="/classes/new" class="btn btn-success">Add</a>
{% endif %}
{% endblock %}



