{% extends 'base.html.twig' %}

{% block title %} {{student.fname}} {% endblock %}
{% block javascripts %}
<script>
var $ = jQuery.noConflict();
    $(document).ready(function(){
    $(".btn.btn-danger.delete-grade").click(function(){
        var id = $(this).attr('data-id');
        fetch(`/grade/delete/${id}`,
        {method: `DELETE`}).then(res => window.location.reload());
    });
  });
  
</script>
{% endblock %}

{% block body %}

<p>Created in {{student.getDateCreated}}</p>
{%if student.getDateModified != "0"%}
<p>Modified in {{student.getDateModified()}}</p>
{%endif%}
<h1>{{student.FName}} {{student.LName}}</h1>
<h2>Born in {{student.DOB}}</h2>
<img src="{{ asset('uploads/') ~ student.img }} " style="height: 10%; width: 10%;" alt="">
<h3>Grades:</h3>
<br>
{% for studentsgrade in studentsgrades %}
<h4>{{studentsgrade.grade}} in {{studentsgrade.course}}</h4>
<a href="/grade/delete/{{studentsgrade.id}}" class="btn btn-danger delete-grade" data-id="{{studentsgrade.id}}">Delete</a>
{%endfor%}
<br>
<a href="/grades/new/{{student.id}}" class="btn btn-success add-grade" data-id="{{student.id}}">Add</a>
<br>
<a href="/">Go Back</a>
{% endblock %}